<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Basket</title>
  </head>
  <body>
  
	<nav class="navbar  navbar-expand-lg navbar-light bg-light sticky-top">
		<a class="navbar-brand" th:href="@{/}">Online Shopping</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
	</nav>
  
  	<div class="container">
  
	    <h1>Basket</h1>
	    
	    <th:block th:unless="${empty}">
	    	<table class="table">
	    		<thead>
	    			<tr>
	    				<th>ID</th>
	    				<th>Name</th>
	    				<th></th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr th:each="item : ${basket.items}">
	    				<td th:text="${item.catalogueItemId}"></td>
	    				<td th:text="${item.catalogueItemName}"></td>
	    				<td>
		    				<form th:action="@{/basket}" method="post">
		    					<input type="hidden" name="catalogueItemId" th:value="${item.catalogueItemId}" />
								<button type="submit" name="remove-basket-item" value="true" class="btn btn-danger">Remove</button>
							</form>
	    				</td>
	    			</tr>
	    		</tbody>
	    	</table>
	    	
		    	<form th:action="@{/basket}" method="post">
		    		<th:block th:if="${clear}">
	  					<button type="submit" name="clear" value="true" class="btn btn-warning">Clear Basket</button>
					</th:block>
	    			<th:block th:if="${checkout}">
	  					<button type="submit" name="checkout" value="true" class="btn btn-primary">Checkout</button>
					</th:block>
				</form>
			
		</th:block>
		<th:block th:if="${empty}">

			<div class="alert alert-secondary" role="alert">There are no kittens in your basket!</div>
			<a class="btn btn-primary" th:href="@{/}">Find some kittens</a>

		</th:block>
		
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>