<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Catalogue</title>
  </head>
  <body>
  
	<nav class="navbar  navbar-expand-lg navbar-light bg-light sticky-top">
		<a class="navbar-brand" th:href="@{/}">Online Shopping</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        	<a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/basket}">Go to Basket <span class="badge badge-light" th:text="${basket.size}"></span> <span class="sr-only">items in basket</span></a>
    	</div>
	</nav>
  
  	<div class="container">
  
	    <h1>Available Kittens</h1>
	    
	    <th:block th:unless="${catalogue.empty}">
			<div class="card-deck">
			<th:block th:each="item : ${catalogue.items}">
				
				<div class="card" style="width: 150px;">
					<img th:src="${item.imageUrl}" class="card-img-top" th:alt="${item.name}" width="150px" height="150px">
					<div class="card-body">
						<h5 class="card-title item-name" th:text="${item.name}"></h5>
						<p class="card-text" th:text="${item.description}"></p>
					</div>
					<div class="card-body">
						<form th:action="@{/}" method="post">
							<input type="hidden" name="catalogueItemId" th:value="${item.id}" />
							<input type="hidden" name="catalogueItemName" th:value="${item.name}" />
							<button type="submit" name="add-to-basket" value="true" class="btn btn-primary">Add to Basket</button>
						</form>
					</div>
				</div>
					
			</th:block>
			</div>
		</th:block>
		<th:block th:if="${catalogue.empty}">

			<div class="alert alert-secondary" role="alert">There are no items to buy!</div>

		</th:block>
		
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>